body{
    background-color: black;
    color: white;
    font-family: 'Onest', sans-serif;
}
h1,h2{
    text-align: center;
}
h1{
    font-size: 150px;
    margin-top: 300px;
    font-weight: 400;
}
h2{
    font-weight: 100;
}
header{
    width: 20px;
    height: 20px;
}
.grid{
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 100px;
}
p{
    text-align: center;
    margin-top: 100px;
}
